<h1>Choose Household Option</h1>

<div class="actions">
  <%= link_to "Create a New Household", new_household_path, class: "btn btn-primary" %>
  <%= link_to "Join an Existing Household", root_path, class: "btn btn-secondary" %>
</div>
